* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    /* background-color: aquamarine; */
    background: url(../img/img-CSS.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: center;
    background-position-y: center;
    height: 600px;
}