* {margin: 0; padding: 0; box-sizing: border-box;}

.container {
    background-color: #eee;
    border: 2px solid red;
    padding: 15px;
    max-width: 300px;
    height: 300px;
    display: flex; /* Muda a div de linhas para colunas*/
    /* justify-content: center; Alinha as colunas no centro */
    /* justify-content: sparce-around; separa as divisorias por igual, colocando padding mais sobra calculada */
    /* justify-content: space-between; separa as divisorias por igual, respeitando o padding */
    justify-content: space-between;
    align-items: center; /* alinhamento vertical e horizantal no centro da tela */
    flex-wrap:wrap; /* alinha o elemento distribuindo na tela e pulando linhas caso necessario */
}

.item {
    background-color: #ccc;
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}

.box {
    background-color: rgb(217, 67, 67),green,blue;
    border: 2px solid blueviolet;
    height: 50px;
    flex-basis: 30px; /* garante que a base fique com 30px */
}